<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8"> 
	<title>Profile Photo</title> 
</head> 
<body> 
	<form method = "post" enctype="multipart/form-data"> 
	<label>{{ name }}</label>
	{% for subject_object in subject_objects %}
                                {% if subject_object.person_id == request.user.username %}
                                         <option value={{ subject_object.id }}>{{ name }}</option>
                                {% endif %}
                        {% endfor %}
		{% csrf_token %} 
		{{ form.as_p }} 
		<button type="submit">Upload</button> 
	</form> 
</body> 
</html> 
